@model User
@{
	<form asp-area="Admin" asp-controller="Account" asp-action="EditUserPost" method="post">
		
		<input type="hidden" asp-for="Id" value="@Model.Id"/>
		<label asp-for="UserName">Username</label>
		<input asp-for="UserName" value="@Model.UserName" type="text" />
		<label asp-for="Email">Email</label>
		<input asp-for="Email" value="@Model.Email" type="email" />
		<label asp-for="FirstName">First Name</label>
		<input asp-for="FirstName" value="@Model.FirstName" type="text" />
		<label asp-for="LastName">Last Name</label>
		<input asp-for="LastName" value="@Model.LastName" type="text" />
		<label asp-for="Phone">Phone</label>
		<input asp-for="Phone" value="@Model.Phone" type="tel" />

		<select asp-for="RoleId">
			@foreach (Role role in ViewBag.Roles)
			{
				if(role.Id == Model.RoleId)
				{
					<option value="@role.Id" selected="selected">@role.RoleName</option>
				}
				else
				{
					<option value="@role.Id">@role.RoleName</option>
				}
			}
		</select>

		<button type="submit">Edit User</button>
		<span asp-validation-for="UserName"></span>
		<span asp-validation-for="Email"></span>
		<span asp-validation-for="FirstName"></span>
		<span asp-validation-for="LastName"></span>
		<span asp-validation-for="Phone"></span>
		<span asp-validation-for="RoleId"></span>
		@if (ViewBag.Error is not null)
		{
			<span>@ViewBag.Error</span>
		}
	</form>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
