@model User
@{
	<h3>Your Profile:</h3>
	<h6>UserName:</h6>
	<p>@Model.UserName</p>
	<h6>Email:</h6>
	<p>@Model.Email</p>
	<h6>FirstName:</h6>
	<p>@Model.FirstName</p>
	<h6>LastName:</h6>
	<p>@Model.LastName</p>
	<h6>Phone:</h6>
	<p>@Model.Phone</p>
	<h6>Role:</h6>
	<p>@Model.Role.RoleName</p>

	<br />
	<br />
	<br />
	<br />

	<a asp-controller="Profile" asp-action="EditProfile">Edit Profile</a>

	<a asp-controller="Profile" asp-action="ChangePassword">Change Password</a>
}
